@use "sass:map";

$cards: (
  "hearts2",
  "diamonds2",
  "clubs2",
  "spades2",
  "hearts3",
  "diamonds3",
  "clubs3",
  "spades3",
  "hearts4",
  "diamonds4",
  "clubs4",
  "spades4",
  "hearts5",
  "diamonds5",
  "clubs5",
  "spades5",
  "hearts6",
  "diamonds6",
  "clubs6",
  "spades6",
  "hearts7",
  "diamonds7",
  "clubs7",
  "spades7",
  "hearts8",
  "diamonds8",
  "clubs8",
  "spades8",
  "hearts9",
  "diamonds9",
  "clubs9",
  "spades9",
  "hearts10",
  "diamonds10",
  "clubs10",
  "spades10",
  "heartsjack",
  "diamondsjack",
  "clubsjack",
  "spadesjack",
  "heartsqueen",
  "diamondsqueen",
  "clubsqueen",
  "spadesqueen",
  "heartsking",
  "diamondsking",
  "clubsking",
  "spadesking",
  "heartsace",
  "diamondsace",
  "clubsace",
  "spadesace"
);

@each $card in $cards {
  .card.#{$card} {
    background-image: url("../images/#{$card}.png");
  }
}

.card,
.pile {
  width: 120px;
  height: 182px;
  border-radius: 10px;
  border: 1px solid black;
  background-size: cover;
}

.cards {
  // position: relative;
  .card {
    position: absolute;
    top: 0;
    left: 0;
    @for $i from 1 through 52 {
      &:nth-child(#{$i}) {
        left: #{$i}rem;
        z-index: #{$i};
      }
    }
  }
}

.visibleCards {
  position: relative;
  .card {
    position: absolute;
    top: 0;
    left: 0;
    @for $i from 1 through 52 {
      &:nth-child(#{$i}) {
        left: 0;
        z-index: #{$i};
        transform: rotate($i * 15 + deg);
        transform-origin: center center;
      }
    }
  }
}

.tableBoard {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.mainTable {
  margin: auto;
  max-width: 100vh;
  display: grid;
  grid-template-columns: 33.3vh 33.3vh 33.3vh;
  grid-template-rows: 33.3vh 33.3vh 33.3vh;
  grid-template-areas:
    ". player1 ."
    "player2 center player3"
    ". player4 .";

  .name {
    font-family: sans-serif;
    font-weight: bold;
    color: papayawhip;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

.player {
  padding: 0.725rem;

  &.player1 {
    grid-area: player1;
    border: 1px solid black;
    .card {
      // background-color: rgb(83, 27, 136);
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player2 {
    grid-area: player2;
    border: 1px solid black;
    .card {
      // background-color: rgb(83, 27, 136);
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player3 {
    grid-area: player3;
    border: 1px solid black;
    .card {
      // background-color: rgb(83, 27, 136);
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player4 {
    grid-area: player4;
    border: 1px solid black;
  }
}

.center {
  grid-area: center;
  border: 1px solid black;
  .visibleCards {
    margin-top: 10px;
    margin-left: 10px;
  }
  .pileOfCards {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 130px;
  }
  .pile {
    background-image: url(../images/gray_back.png);
    background-size: cover;
  }
}

// .pileOfCards {
//   // width: 94px;
//   // height: 140px;
//   // margin: 0;
//   display: flex;
//   justify-content: flex-end;
//   // align-items: flex-end;
// }

// dokumentacja do sass,
// flow control na blaszke na poniedziałek,
// dokończyć htmla i css tzn wszyscy mają mieć karty (reszta zakryte), ma mieć
// ktoś aktiv, ma być na srodku kupka do dobierania kart
