@use "sass:map";
@use "sass:list";

$cardsImg: (
  "hearts2",
  "diamonds2",
  "clubs2",
  "spades2",
  "hearts3",
  "diamonds3",
  "clubs3",
  "spades3",
  "hearts4",
  "diamonds4",
  "clubs4",
  "spades4",
  "hearts5",
  "diamonds5",
  "clubs5",
  "spades5",
  "hearts6",
  "diamonds6",
  "clubs6",
  "spades6",
  "hearts7",
  "diamonds7",
  "clubs7",
  "spades7",
  "hearts8",
  "diamonds8",
  "clubs8",
  "spades8",
  "hearts9",
  "diamonds9",
  "clubs9",
  "spades9",
  "hearts10",
  "diamonds10",
  "clubs10",
  "spades10",
  "heartsjack",
  "diamondsjack",
  "clubsjack",
  "spadesjack",
  "heartsqueen",
  "diamondsqueen",
  "clubsqueen",
  "spadesqueen",
  "heartsking",
  "diamondsking",
  "clubsking",
  "spadesking",
  "heartsace",
  "diamondsace",
  "clubsace",
  "spadesace"
);

$cardsClass: (
  "hearts_2",
  "diamonds_2",
  "clubs_2",
  "spades_2",
  "hearts_3",
  "diamonds_3",
  "clubs_3",
  "spades_3",
  "hearts_4",
  "diamonds_4",
  "clubs_4",
  "spades_4",
  "hearts_5",
  "diamonds_5",
  "clubs_5",
  "spades_5",
  "hearts_6",
  "diamonds_6",
  "clubs_6",
  "spades_6",
  "hearts_7",
  "diamonds_7",
  "clubs_7",
  "spades_7",
  "hearts_8",
  "diamonds_8",
  "clubs_8",
  "spades_8",
  "hearts_9",
  "diamonds_9",
  "clubs_9",
  "spades_9",
  "hearts_10",
  "diamonds_10",
  "clubs_10",
  "spades_10",
  "hearts_jack",
  "diamonds_jack",
  "clubs_jack",
  "spades_jack",
  "hearts_queen",
  "diamonds_queen",
  "clubs_queen",
  "spades_queen",
  "hearts_king",
  "diamonds_king",
  "clubs_king",
  "spades_king",
  "hearts_ace",
  "diamonds_ace",
  "clubs_ace",
  "spades_ace"
);

// @each $card in $cardsImg {
//   .card.#{$card} {
//     background-image: url("../images/#{$card}.png");
//   }
// }

.card {
  width: 120px;
  height: 182px;
  border-radius: 10px;
  border: 1px solid black;
  background-size: cover;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.cards {
  // position: relative;
  .card {
    position: absolute;
    top: 0;
    left: 0;
    @for $i from 1 through 52 {
      &:nth-child(#{$i}) {
        left: #{$i}rem;
        z-index: #{$i};
      }
    }
  }
}

.game {
  position: relative;
  .card {
    position: absolute;
    top: 0;
    left: 0;
    @for $i from 1 through 52 {
      &:nth-child(#{$i}) {
        left: 0;
        z-index: #{$i};
        transform: rotate($i * 15 + deg);
        transform-origin: center center;
      }
    }
  }
  @for $i from 1 through 52 {
    .card.#{list.nth($cardsClass, $i)} {
      background-image: url("../images/#{list.nth($cardsImg, $i)}.png");
    }
  }
}

.tableBoard {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.mainTable {
  margin: auto;
  max-width: 100vh;
  display: grid;
  grid-template-columns: 33.3vh 33.3vh 33.3vh;
  grid-template-rows: 33.3vh 33.3vh 33.3vh;
  grid-template-areas:
    ". player2 ."
    "player1 center player3"
    ". player4 .";

  .name {
    height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: papayawhip;
    margin-bottom: 0.75rem;
    margin-top: 0;
  }
}

.player {
  padding: 0.725rem;
  &.current {
    @for $i from 1 through 52 {
      .card.#{list.nth($cardsClass, $i)} {
        background-image: url("../images/#{list.nth($cardsImg, $i)}.png");
      }
    }
  }

  &.player1 {
    grid-area: player1;
    border: 1px solid black;
    .card {
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player2 {
    grid-area: player2;
    border: 1px solid black;
    .card {
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player3 {
    grid-area: player3;
    border: 1px solid black;
    .card {
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }

  &.player4 {
    grid-area: player4;
    border: 1px solid black;
  }
}

.btn-next-player,
.btn-undo {
  margin-bottom: 0.75rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  font-family: sans-serif;
  font-size: 0.875rem;
}

.center {
  grid-area: center;
  border: 1px solid black;
  .game {
    margin-top: 10px;
    margin-left: 10px;
  }
  .restOfCards {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 120px;
    position: relative;
    .card {
      position: absolute;
      background-image: url(../images/gray_back.png);
      background-size: cover;
    }
  }
}
